<div class="panel panel-primary pull-right" id="history">
  <div class="panel-heading"><h3 class="panel-title">History</h3></div>
  <div class="panel-body">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Authors</td>
        <td>
          {% for author in page.git.authors %}
          {{ author.name }}<br/>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Revisions</td>
        <td>{{ page.git.total_commits }}</td>
      </tr>
      <tr>
        {% if page.published_effective %}
        <td>Effective</td>
        {% else %}
        <td>Published</td>
        {% endif %}
        <td>{{ page.git.last_commit.commit_date}}</td>
      </tr>
      <tr>
        <td>History</td>
        <td>
          <ul>
          <li><a href="https://github.com/usegalaxy-eu/gdpr/commit/{{ page.git.last_commit.long_sha }}">
              Most Recent Changes
          </a></li>
          <li><a href="https://github.com/usegalaxy-eu/gdpr/commits/master/{{ page.path }}">
              All Changes
          </a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
